.button-icon {
    width: 14px;
    height: 14px;
}
.button-icon--big {
    width: 20px;
    height: 20px;
}
.button-icon-wrapper {
    padding: 0.2rem 0.5rem;
}
.cart-display {
    display: block;
    transform: translate(-276px, 20px);
}
.cart-block-for-clone {
    display: none;
}
.cart-block-visible {
    display: block;
}
.cart-block-scroll {
    height: 300px !important;
    overflow-y: scroll !important;
}
