.korobka-item-none {
    display: none !important;
}
.korobka-item-show {
    display: block;
}
.bg-started-war {
    background-color: #0e77ac !important;
}
.bg-assembled {
    background-color: #0a567c !important;
}
.loader-assembled {
    width: 15px;
    height: 15px;
    border: 3px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  transform: translateY(-700px);
  animation: modal-animate 0.15s ease-in-out forwards;
}
@keyframes modal-animate {
    0% {
        transform: translateY(-700px);
    }
    100% {
        transform: translateY(0px);
    }
} 

/* The Close Button */
/*.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}*/

button.btn-settings {
  margin: 25px;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: #337ab7;
  color: white;
}
button.btn-settings:active {
  color: white;
}
.modal {
    overflow: hidden;
}
.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}
.modal-header {
  height:30px;
  padding: 20px;
  background-color:#18456b;
  color:white;
}
.modal-title {
  margin-top:-10px;
  font-size:16px;
}
.modal-header .close {
  margin-top:0px;
  color:#fff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal-body {
  color:#888;
  padding: 5px 35px 20px;
}
.modal-body h3 {
  text-align: center;
}
.modal-body textarea {
  padding-top:10px;
  font-size: 1.1em;
  width: 100% !important;
  height: 100px;
  padding: 10px;
}
/* Custom Checkbox */
.control {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 11px;
    width: 11px;
    border-radius: 2px;
    border: 2px solid #ccc;
    background: transparent;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    border: 2px solid #007bff;
}

.control input:checked~.control__indicator {
    border: 2px solid #007bff;
    background: #007bff;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border: 2px solid #ccc;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #007bff;
    opacity: .2;
    border: 2px solid #007bff;
}
.bg-started-war {
    background-color: #0e77ac !important;
}
.bg-assembled {
    background-color: #0a567c !important;
}
tr p {
    height: 100%;
/*    margin-bottom: 5px !important;*/
}
.order-popup-parent {
    position: relative;
    display: block;
    cursor: default;
/*    user-select: none;*/
    overflow: visible !important;
    height: 100% !important;
    z-index: 100 !important;
}
.order-popup-child {
    position: absolute;
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    bottom: -125%;
    left: 50%;
    margin-left: -80px;
    z-index: 100 !important;
}
.popup-child-img {
    width: 100%;
    object-fit: contain;
}
/*.order-popup-child-near-top {
    position: absolute;
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index: 100 !important;
}*/
.show {
    visibility: visible;
    animation: fadeIn 0.1s;
    z-index: 100 !important;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.v-table-text {
    writing-mode: vertical-lr !important;
    text-orientation: upright !important;
}
.rotated-table-text {
    writing-mode: vertical-rl !important;
    transform: rotate(-180deg) !important;
    letter-spacing: 2px !important;
    max-height: 170px !important;
    text-wrap: wrap !important;
}
.new-table {
    width: 100% !important;
}
.new-table-row {
    position: -webkit-sticky;
    width: 25% !important;
    white-space: nowrap !important;
}
.overflowed-row {
    width: 20% !important;
    white-space: nowrap !important;
}
.new-table-wrapper {
    width: 70% !important;
    overflow-x: scroll !important;
}
.new-table-wrapper table {
    border-collapse: separate !important;
    width: 100% !important;
}
.clickForOrder {
    cursor: pointer;
}
.digits-order {
    display: flex;
    flex-direction: column;
}
.digits-order p {
    margin: 0 !important;
}
.view {
  width: 1250px;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
}
.wrapper table tr th:first-child {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2 !important;
  left: 0;
}
.wrapper table th {
  white-space: nowrap;
}
.view table td:first-child {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2 !important;
  left: 0;
}
.wrapper {
  position: relative;
  width: 1250px;
  height: 500px;
  overflow: scroll;
/*  white-space: nowrap;*/
}
.sticky-col {
/*  position: -webkit-sticky;
  position: sticky;*/
/*  background-color: white !important;*/
/*  z-index: 2 !important;*/
}
.sticky-head {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2 !important;
}
.first-col {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  left: 0px;
/*  overflow: hidden;*/
  text-wrap: wrap;
}
.first-col-1 {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  left: 0px;
/*  overflow: hidden;*/
  text-wrap: wrap;
}
.second-col {
  width: 250px;
  min-width: 250px;
  max-width: 350px;
  left: 200px;
}
.another-col {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  z-index: 1 !important;
}
.long-table table {
    border: 1px solid #eaf0f9;
}
.long-table td {
    border: 1px solid #eaf0f9;
}
.long-table th {
    border: 1px solid #eaf0f9;
}
.head-bold {
    font-weight: bold;
}
.color-for-approve {
    color: red;
}
.color-division-1 {
    background-color: #ffc5c5 !important;
}
.color-division-2 {
    background-color: #c0c0ff !important;
}
.color-division-3 {
    background-color: #66ff66 !important;
}
.digits-row {
    display: flex;
    flex-direction: row;
}
.svg-digits-excel {
    margin-left: 10px;
    cursor: pointer;
}
.wrap-icon-digits-exell {
    display: block;
    position: relative;
    width: 100% !important;
    height: 100% !important;
}
.wrap-icon-digits-exell .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #888;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 11 !important;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.wrap-icon-digits-exell .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #888 transparent;
}
.wrap-icon-digits-exell:hover .tooltiptext {
  visibility: visible;
}
.icon-digits-exell {
    margin-left: 5px;
    cursor: pointer;
    transform: translateY(2px) !important;
    color: #888;
    font-size: 14px;
}
.btn-excel {
    transform: scale(0.7) !important;
}
.order-visible {
    display: none;
}

.table-container { 
/*    width: 1250px !important;*/
    height: 500px; 
    overflow: scroll;
    margin-bottom: 20px;
}
.table-container-goods { 
/*    width: 1250px !important;*/
    height: 500px; 
    overflow-y: scroll;
    margin-bottom: 20px;
}
.table-container table th {
  white-space: nowrap;
  padding: 10px 20px;
  font-family: Arial;
}
.table-container table td {
/*  white-space: nowrap;*/
/*  padding: 10px 20px;
  font-family: Arial;*/
}
.table-container table tr th:first-child {
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;
  background: #fff;
}
.table-container-goods table tr:first-child  {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
}
.table-container-goods table tr:nth-child(2)  {
  position: -webkit-sticky;
  position: sticky;
  top: 1.7525rem;
  left: 0;
  z-index: 10;
  background: #fff;
}
.table-container table tr {
    transition: height 0.3s ease-in-out;
}
.table-container table td:first-child{
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 9;
  background: #fff;
}
.table-container table tr th:first-child{
  z-index: 15;
}
.table-container table tr th{
  position: sticky;
  top: 0;
  z-index: 9;
  background: transparent;
}
.table-container td {
    overflow: visible !important;
}
.table-container table tr th{
    background: #fff;
}
.tr-height {
    height: 100px !important;
}
.row-color {
    background-color: #ffe6e6;
}
.basket-button-change {
    background-color: #ffe680 !important;
    color: #1761fd !important;
}
.toggle-goods-popup-for-head {
    z-index: 10 !important;
}
.toggle-goods-popup-for-cell {
    z-index: 12 !important;
}
@media screen and (max-width: 1920px) {
  .table-container { 
    width: 1630px;
    height: 600px;
  }
  .table-container-goods {
    width: 1610px;
    height: 600px;
  }
}
@media screen and (max-width: 1840px) {
  .table-container { 
    width: 1550px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1550px;
    height: 500px;
  }
}
@media screen and (max-width: 1740px) {
  .table-container { 
    width: 1450px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1450px;
    height: 500px;
  }
}
@media screen and (max-width: 1640px) {
  .table-container { 
    width: 1350px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1350px;
    height: 500px;
  }
}
@media screen and (max-width: 1540px) {
  .table-container { 
    width: 1250px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1230px;
    height: 500px;
  }
}
@media screen and (max-width: 1440px) {
  .table-container { 
    width: 1150px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1130px;
    height: 500px;
  }
}
@media screen and (max-width: 1340px) {
  .table-container { 
    width: 1050px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1030px;
    height: 500px;
  }
}
@media screen and (max-width: 1290px) {
  .table-container { 
    width: 1200px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1200px;
    height: 500px;
  }
}
@media screen and (max-width: 1190px) {
  .table-container { 
    width: 1100px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1100px;
    height: 500px;
  }
}
@media screen and (max-width: 1090px) {
  .table-container { 
    width: 1000px;
    height: 500px;
  }
  .table-container-goods { 
    width: 1000px;
    height: 500px;
  }
}
.visual-events {
    pointer-events: none;
}
.close_image {
  color: #000000;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.index-top-filters {
    margin-bottom: 5px;
    width: 200px;
    border: 2px solid #007bff; 
    color: #303e67;
}
/*#divisiones-names {
    margin-bottom: 15px;
    width: 200px;
    border: 2px solid #007bff; 
    color: #303e67;
}*/
.row-hidden {
    display: none !important;
}
.page-title-svod-h4 {
    font-size: 17px !important;
    margin: 0 !important;
    color: #2c3652 !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    margin-bottom: 5px !important;
    text-align: center !important;
}
.page-title-svod-h6 {
    font-size: 12px !important;
    margin: 0 !important;
    color: #2c3652 !important;
    font-weight: 500 !important;
    line-height: 15px !important;
    margin-bottom: 20px !important;
    text-align: center !important;
}
.month-field {
    width: 200px;
    height: 100px;
/*    border: 0.5px solid #000000; */
    color: #303e67;
    font-size: 8px !important;
    position: relative;
    overflow: visible !important;
    font-size: 8px !important;
}
.month-field-legend {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    font-size: 13px !important;
}
.month-field input[type='checkbox'] {
    position: absolute;
    visibility: hidden;
}
.month-field input[type='checkbox']:hover {
    background: #f2f2f2;
}
.month-field label:hover {
    background: #f2f2f2;
}
.month-field input[type='checkbox']:checked + label{
    background: #337ab7;
    color: #FFF;
}
.month-field input[type='checkbox']:checked:hover + label{
    background: #87b4de;
    color: #FFF;
}
.month-field label {
    background: #337ab7;
    color: #FFF;
}
.month-field label {
    background: #DDD;
    cursor: pointer;
    display: block;
    float: left;
    color: #000000;
    font-weight: normal;
    margin: 1px 0 0 1px;
    padding: .2rem 0;
    text-align: center;
    user-select: none;
    width: calc(25% - 1px);
    font-size: 8px !important;
  }
.month-field button {
    height: calc(25% - 1px);
    font-size: 8px !important;
    width: 100% !important;
    margin-top: 3px;
}
.filters-work-part {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    justify-content: left;
    margin-bottom: 3px;
}
.filters-work-part-months {
    overflow-x: hidden;
    overflow-y: auto;
}
.filters-work-part-months::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}
.filters-work-part-months:hover::-webkit-scrollbar {
    width: 8px;
}
.filters-work-part-months:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
.filters-button-part {
    display: flex;
    height: 18px;
    width: 100%;
}
.select-work-buttons {
    width: 100% !important;
    font-size: 10px !important;
    padding: 0 !important;
}
.orders_picture_row {
    width: 150px !important;
}
#redirect-to-basket {
    margin-top: 10px;
}