.korobka-item-none {
    display: none !important;
}
.korobka-item-show {
    display: block;
}
.bg-started-war {
    background-color: #0e77ac !important;
}
.bg-assembled {
    background-color: #0a567c !important;
}
.loader-assembled {
    width: 15px;
    height: 15px;
    border: 3px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  transform: translateY(-700px);
  animation: modal-animate 0.15s ease-in-out forwards;
}
@keyframes modal-animate {
    0% {
        transform: translateY(-700px);
    }
    100% {
        transform: translateY(0px);
    }
} 

/* The Close Button */
/*.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}*/

button.btn-settings {
  margin: 25px;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: #337ab7;
  color: white;
}
button.btn-settings:active {
  color: white;
}
.modal {
    overflow: hidden;
}
.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}
.modal-header {
  height:30px;
  padding: 20px;
  background-color:#18456b;
  color:white;
}
.modal-title {
  margin-top:-10px;
  font-size:16px;
}
.modal-header .close {
  margin-top:0px;
  color:#fff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal-body {
  color:#888;
  padding: 5px 35px 20px;
}
.modal-body h3 {
  text-align: center;
}
.modal-body textarea {
  padding-top:10px;
  font-size: 1.1em;
  width: 100% !important;
  height: 100px;
  padding: 10px;
}
/* Custom Checkbox */
.control {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 11px;
    width: 11px;
    border-radius: 2px;
    border: 2px solid #ccc;
    background: transparent;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    border: 2px solid #007bff;
}

.control input:checked~.control__indicator {
    border: 2px solid #007bff;
    background: #007bff;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border: 2px solid #ccc;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #007bff;
    opacity: .2;
    border: 2px solid #007bff;
}
.bg-started-war {
    background-color: #0e77ac !important;
}
.bg-assembled {
    background-color: #0a567c !important;
}
tr p {
    margin-bottom: 5px !important;
}
.order-popup-parent {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.order-popup-child {
    position: absolute;
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.order-popup-parent .show {
    visibility: visible;
    animation: fadeIn 0.1s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.v-table-text {
    writing-mode: vertical-lr !important;
    text-orientation: upright !important;
}
.new-table-row {
    width: 25% !important;
}